@model DotNetMeetupVS2017ShowCase.Models.MessageDto


@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>.NET Meetup - New Features of Visual Studio 2017</h1>
    <p class="lead">A brief introduction of the new features of Visual Studio 2017</p>
    <p><a href="https://www.visualstudio.com" class="btn btn-primary btn-lg">Download &raquo;</a></p>
</div>

<div class="row">
    <div>@Model.Message</div>
</div>